<h1>Listing Dogs</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Breed</th>
      <th>Owner</th>
      <th>Medical Conditions</th>
      <th>Vet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.order('name').each do |dog| %>
      <tr>
        <td><%= dog.name %></td>
        <td><%= dog.dob.stamp('April 29, 1976') %></td>
        <td><%= dog.breed.breed_name %></td>
        <td><%= dog.owner.display_name %></td>
        <td><%= dog.med_cond %></td>
        <td><%= dog.vet.doctor %></td>
        <td><%= link_to fa_icon('eye'), dog %></td>
        <td><%= link_to fa_icon('pencil'), edit_dog_path(dog) %></td>
        <td><%= link_to fa_icon('trash-o'), dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path, class: "btn btn-info btn-sm" %>
