<div class="row" id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav text-center">
      <%= link_to fa_icon('pencil lg', text: 'Edit Info'), edit_dog_path(@dog), class: "btn btn-info btn-sm" %>
      <%= link_to fa_icon('trash-o lg', text: 'Delete'), @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-sm" %>
      <%= link_to fa_icon('list lg', text: 'All Dogs'), dogs_path, class: "btn btn-info btn-sm" %>
    </ul>
  </div>



  <div class="col-xs-10">
    <h1>Dog Information</h1>
    <p>
      <%= image_tag @dog.avatar.url(:medium) %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @dog.name %> <%= @dog.owner.last_name %>
    </p>

    <p>
      <strong>Dob:</strong>
      <%= @dog.dob.stamp( 'April 29, 1976' ) %>
    </p>

    <p>
      <strong>Breed:</strong>
      <%= @dog.breed.breed_name %>
    </p>

    <p>
      <strong>Owner:</strong>
      <%= link_to @dog.owner.display_name, owner_path(@dog.owner_id) %>
    </p>

    <p>
      <strong>Med cond:</strong>
      <%= @dog.med_cond %>
    </p>

    <p>
      <strong>Vet:</strong>
      <%= link_to @dog.vet.doctor, vet_path(@dog.vet_id) %>
    </p>

    <p>
      <strong>In Daycare:</strong>
      <%= @dog.in_daycare %>
    </p>
  </div>
</div>

