<h1>Vet / Clinic Information</h1>
<p>
  <strong>Doctor:</strong>
  <%= @vet.doctor %>
</p>

<p>
  <strong>Clinic name:</strong>
  <%= @vet.clinic_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @vet.phone %>
</p>

<%= link_to 'Edit', edit_vet_path(@vet), class: "btn btn-info btn-sm" %>
<%= link_to 'Back', vets_path, class: "btn btn-info btn-sm" %>
